<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adia's Alcove</title>
    <link rel="icon" href="static/images/footprint.png">
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
</head>
<body>
    <nav id="header">
        <div id="banner">
            <img id="icon" src="static/images/footprint.png" alt="An animal footprint">
            <p>Adia's Animal Alcove</p>
        </div>
    </nav>
    <div id="profile-pic-div">
        <img id="profile-pic" src="static/images/adia-icon.webp" alt="Adia's face">
        <p id="name">Adia F.</p>
        <p id="location">Smyrna, DE</p>
        <div id="review-div">
            <img id="star-icon" src="static/images/gold-star-icon.webp" alt="A gold star">
            <p id="rating">5.0</p><p id="dot">&#x2022;</p><p id="number-of-reviews">7 Reviews</p>
        </div>
        <button id="book-now-button">Book Now</button>
    </div>
    <div id="main-image-div">
        <img class="main-pet-image" id="cat-image-1" src="static/images/cat-image-1.jpg" alt="A cat lounging">
        <div id="sub-image-div">
            <img class="sub-pet-image" id="dog-image-2" src="static/images/dog-image.jpg" alt="A dog lounging">
            <img class="sub-pet-image" id="dog-image-3" src="static/images/dog-image.jpg" alt="A dog lounging">
        </div>
    </div>
    <div id="main-content-div">
        <p id="description-title">Aida's Animal Alcove</p>
        <p class="description-text">
            Welcome to Adia's Animal Alcove! With over 20 years of experience, 
            I offer top-tier pet care services, including pet sitting, dog walking, 
            drop-in visits, pet daycare, house sitting, and boarding. I prioritize 
            your pet's well-being, providing tailored care and attention, ensuring 
            they feel at home while you're away.
        </p>
        <p class="description-text">
            Your pets are cherished family members, and I commit to creating a safe, 
            comfortable environment. From exercise routines to personalized care for 
            unique needs, I guarantee reliable and trustworthy services, 
            fostering lasting relationships built on respect, love, and happiness.
            Let Adia's Animal Alcove be your pet's sanctuary!
        </p>
    </div>
</body>
</html>