<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adia's Alcove</title>
    <link rel="icon" href="static/images/footprint.png">
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
</head>
<body>
    <nav id="header">
        <div id="banner">
            <img id="icon" src="static/images/footprint.png" alt="An animal footprint">
            <p>Adia's Animal Alcove</p>
        </div>
    </nav>
    <div id="profile-pic-div">
        <img id="profile-pic" src="static/images/footprint.png" alt="An animal footprint">
        <p id="name">Adia Farhi</p>
    </div>
    <div id="main-image-div">
        <p id="image-1">Image 1</p>
        <div id="sub-image-div">
            <p class="sub-image" id="sub-image-1">Image 2</p>
            <p class="sub-image" id="sub-image-1">Image 3</p>
        </div>
    </div>
</body>
</html>